*, *::after, *::before{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(235deg, black, white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

button{
    position: relative;
    width: max-content;
    padding: 5px 30px;
    outline: none;
    border: none;
    background: #eee;
    color: #333;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
}

.pop{
    border: 2px solid #eee;
}

.pop::after{
    position: absolute;
    content: "";
    background: transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* absolutely placed pseudoelements will take up full size of its parent if you put tlbr at 0 even
        with no height and width */
    border-radius: 2px;
    border: 1.5px solid #eee;
    transition: transform 200ms;
    -moz-transition: transform ease-in-out 200ms;
    -webkit-transition: transform ease-in-out 200ms;
}

.pop:hover::after{
    transform: scale(115%, 140%);
    -webkit-transform: scale(115%, 140%);
    -moz-transform: scale(115%, 140%);
}

.slide{
    transition: box-shadow linear 300ms, color linear 300ms;
    -moz-transition: box-shadow linear 300ms, color linear 300ms;
    box-shadow: inset 0 0 0 0 rgb(63, 71, 75);
}

.slide:hover{
    box-shadow: inset 124px 0 0 0 rgb(63, 71, 75);
    color: white;
}

.circle{
    transition: box-shadow linear 1s;
    -moz-transition: box-shadow linear 1s;
    box-shadow: isnet 0 0 0 0 rgb(176, 196, 205);
}

.circle:hover{
    box-shadow: inset 3px 3px 0 30px rgb(176, 196, 205);
}